<div class="accordeon">
  <input type="checkbox" name="accordeon-title" class="accordeon-checkbox" id="accordeon-title" />
  <label for="accordeon-title" class="accordeon-title-label">Patients returned: <%= @ids.count %></label>
  <div class="accordeon-content">
    <p>Locations include</p>
    <ul>
      <% @locations.each do |location| %>
      <li><%= location %></li>
      <% end %>
    </ul>
  </div>
</div>
<table class="pure-table">
  <thead>
    <tr>
    <% @other.first.each_key do |key| %>
      <th><%= key %></th>
    <%end%>
    </tr>
  </thead>
  <tbody>
  <% @other.each do |row| %>
    <tr>
      <% row.values.each do |value|  %>
      <td><%= value %></td>
      <% end %>
      <td><a href="/to_download/<%= row[:series_instance_uid] %>">[Download]</a></td>
    </tr>
  <% end %>
  </tbody>
</table>
