<a href="/">New Search</a>
<div id="collapse">
  <h3>Patients returned: <%= @ids.count %></h3>
  <div>
    <p>Locations include</p>
    <ul>
      <% @locations.each do |location| %>
      <li><%= location %></li>
      <% end %>
    </ul>
  </div>
</div>
<table class="pure-table">
  <thead>
    <tr>
    <% @other.first.each_key do |key| %>
      <th><%= key %></th>
    <%end%>
    </tr>
  </thead>
  <tbody>
  <% @other.each do |row| %>
    <tr>
      <% row.values.each do |value|  %>
      <td><%= value %></td>
      <% end %>
      <td><a href="/to_download/<%= row[:series_instance_uid] %>">[Download]</a></td>
    </tr>
  <% end %>
  </tbody>
</table>
<script>
$(document).ready(function() {
  $( "#collapse" ).accordion({
    collapsible: true,
    active: false
  });
});
</script>
